.project-knowledgemq {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    font-size: 0.9rem;
    font-family: 'Epilogue', sans-serif;
    color: #ffffff;
    overflow: hidden;
}


.language-KMQ {
    font-family: 'Epilogue', sans-serif;
    font-size: 3.5rem;
    color: #ffffff;
    margin-left: 15px;

}


.img {
    width: 50px;
    margin-bottom: 20px;
}

.img-text {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 20px;

    margin: 20px 20px 0px 20px;
}

.knowledgemq {
    grid-area: 1 / 1 / 2 / 2;
}

.projectmq {
    grid-area: 1 / 1 / 2 / 2;
    position: absolute;
}

@media (max-width: 1080px) {
    .project-knowledgemq {
        overflow: visible;
    }
}

@media (max-width: 480px) {

    .img-text {
        font-size: 3.1vw;
    }
}