.about {
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.principal {
    background-color: #3737385b;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;

    height: 75vh;
    width: 80vw;
    border-radius: 2px;
    box-shadow: 0px 0px 10px var(--bg-shadow);
    color: white;
    font-family: 'Epilogue', sans-serif;
}

.open-to-work {
    font-size: 1.2rem;
    color: #974ef7;
}


.about-text {
    align-self: center;
    justify-self: center;
    font-size: 0.9rem;
    max-width: 550px;
}

.about-img {
    background-image: url(../../../assets/imgs/perfil-foto.png);
    width: 400px;
    height: 410px;
    background-size: cover;
    background-position: center center;
    border-radius: 2px;
    box-shadow: 0px 0px 5px var(--bg-shadow);
}

.about-img:hover {
    background-image: url(../../../assets/imgs/perfil-foto2.png);
    width: 400px;
    height: 410px;
    background-size: cover;
    background-position: center center;
    border-radius: 2px;
    box-shadow: 0px 0px 5px var(--bg-shadow);
    transition: background-image 0.9s ease
}

