.card {
  background: #1e1e2f;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(151, 78, 247, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 45%;
  margin: 15px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 20px #974ef799;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: top center;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 8px;
}

.card-description {
  font-size: 0.9rem;
  color: #ccc;
}

@media(max-width: 768px) {
  .card {
    width: 100%;
  }
}